*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    border: 2px solid aqua;
    width: 20%;
    margin: auto;
    border-radius: 5px;
    word-wrap: break-word;
    text-align: center;
    color: rgb(17, 97, 97);
}
.card-head{
    background: aqua;
    border-bottom: 1px solid aqua;
    padding: 5px;
}
.card-body{
    padding: 20px;
    
}
.card-body i{
    padding: 15px;
}
.card-2{
    border: 2px solid yellow;
    width: 20%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    color: yellowgreen;
}
.card-head-2{
background-color: yellow;
border-bottom: 1px solid yellow;
padding: 5px;
}
.card-body-2{
    padding: 15px;
}
.card-body-2 i{
    padding: 15px;
}